.student_container {
    padding: auto;
    width: 100wh;
}

.student_container .logout_btn {
    background-color: inherit;
    margin: auto 5rem;
}

.student_container .logout_btn:hover {
    opacity: 0.7;
}
