.col-8 {
  background-image: url(ucfbackground.jpg);
  background-size: cover;
}

.container {
  height: 100vh;
  overflow: hidden;
}

.row {
  height: 100%;
  overflow: hidden;
}

.nav-pills .pill-register .nav-link {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.nav-pills .pill-login .nav-link {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.form-service {
  padding: auto;
}

.form-service .form-error {
  color: red;
  margin: 0.5rem auto;
  text-align: center;
}
