.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #111;
    border-color: #dee2e6 #dee2e6 #fff;
}

.form-control {
    background-color: #111;
    color: #fff;
}

.form-control:focus {
    background-color: #111;
    color: #fff;
}