.header-container {
    display: flex;
    justify-content: space-between;
    font: Arial, Helvetica, sans-serif;
    background-color: #2a5e80;
    color: #ffffff;
    padding: 1rem 0;
}
.header-container h1 {
    font: normal 28px Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: auto 2rem;
}
