html, body {
    height: 500px;
}

.col-8 {
    background-image: url(ucfbackground.jpg);
    background-size: cover;
}

.container {
    height: 100%;
    overflow: hidden;
}

.row {
    height: 100%;
    overflow: hidden;
}

/* not active
.nav-pills .pill-register .nav-link:not(.active) {
    background-color: rgba(255, 255, 255, 0);
} */

/* active (faded) */
.nav-pills .pill-register .nav-link {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.nav-pills .pill-login .nav-link {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
